<mat-grid-list
  [cols]="5"
  rowHeight="60px">

  <mat-grid-tile *ngFor="let item of filter.fields; let i = index" [colspan]="1"
                 [rowspan]="1">
    <mat-form-field *ngIf="item.type === 'string'" class="filter-field">
      <input [(ngModel)]="item.value" [placeholder]="'Tìm theo ' + item.label" matInput type="text"/>
    </mat-form-field>

    <mat-form-field *ngIf="item.type === 'date'" class="filter-field">
      <input (dateChange)="onDateChange()" (dateInput)="onDateChange()" [(ngModel)]="item.value" [matDatepicker]="picker" [placeholder]="'Tìm theo ' + item.label" matInput
             matInput type="text"/>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="item.type === 'radio'" class="filter-field">
      <mat-radio-group aria-label="Chọn">
        <mat-radio-button *ngFor="let opt of item.options" value="{{opt.value}}">{{opt.text}}</mat-radio-button>
      </mat-radio-group>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
