<h2>
  Thêm/sửa thuốc:
</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-form-field style="width:50vw">
    <input formControlName="name" matInput placeholder="Tên thuốc">
    <!-- error -->
    <mat-error *ngIf="errorHandling('name', 'required')">
      Nhập tên thuốc
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width:50vw">
    <input formControlName="code" matInput placeholder="Code">
  </mat-form-field>
  <mat-form-field style="width:50vw">
    <input formControlName="note" matInput placeholder="Cách dùng">
  </mat-form-field>
  <div>
    <button color="primary" mat-flat-button>Lưu</button>
  </div>
</form>
