<div id="print-section">
  <table style=" width: 100%;  font-size: 16px;">
    <tr>
      <td style="width: 30%"><b>PHÒNG KHÁM DA LIỄU</b></td>
      <td style="font-size: 12px; font-style: italic; text-align: right;">Địa chỉ: 80 Mê Linh, Vĩnh Yên, Vĩnh Phúc</td>
    </tr>
    <tr>
      <td style="text-align: center; width: 30%"><b>Bác sĩ Hà</b></td>
      <td></td>
    </tr>
  </table>
  <table style="margin-top: 30px; font-size: 32px">
    <tr>
      <td style="text-align: center; font-weight: bold">ĐƠN THUỐC</td>
    </tr>
  </table>
  <table style="width: 100%">
    <tr style="margin-left: 20px">
      <td style="width: 20%;">Bệnh nhân:</td>
      <td>{{order.client}}</td>
    </tr>
    <tr style="margin-left: 20px">
      <td style="width: 20%;">Địa chỉ liên hệ:</td>
      <td>{{order.address}}</td>
    </tr>
  </table>

  <mat-table [dataSource]="itemDataSource">
    <ng-container matColumnDef="seqNo">
      <mat-header-cell *matHeaderCellDef><b>STT</b></mat-header-cell>
      <mat-cell *matCellDef="let obj">{{obj.seqNo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="product">
      <mat-header-cell *matHeaderCellDef><b>Tên thuốc và cách dùng</b></mat-header-cell>
      <mat-cell class="white-space-pre-line" *matCellDef="let obj">{{obj.productName + "\n" + obj.note}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <table style="margin-top: 20px; margin-right: 20px; text-align: right">
    <tr><td>Ngày {{order.createDate | date: 'dd/MM/yyyy'}}</td></tr>
    <tr><td style="height: 60px"></td></tr>
    <tr><td>Bác sĩ: Trần Quang Hà</td></tr>
  </table>
</div>

