table
{
  font-family:"Times New Roman", Times, serif !important;
}

.mat-column-seqNo {
  flex: 0 0 40px !important;
  white-space: unset !important;
}

.white-space-pre-line {
  white-space: pre-line;
}

.mat-header-cell, .mat-cell {
  color: black;
  font-size: 14px;
}
