<h2>Danh sách thuốc</h2>
<app-table-filter [filter]="searchModel" (change)="onFilterChanged()"></app-table-filter>
<mat-table #table
           (matSortChange)="sortData($event)"
           [dataSource]="dataSource"
           matSort>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header><b>Tên thuốc</b></mat-header-cell>
    <mat-cell *matCellDef="let obj">{{obj.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="usage">
    <mat-header-cell *matHeaderCellDef><b>Cách dùng</b></mat-header-cell>
    <mat-cell *matCellDef="let obj">{{obj.usage}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let obj">
      <button (click)="edit(obj)" color="primary" mat-button>
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<div *ngIf="totalElements < 1" class="text-center m-top-1">Không có dữ liệu</div>

<mat-paginator
  (page)="pageChange($event)"
  [length]="totalElements"
  [pageIndex]="0"
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="pageSizeOptions[0]"
></mat-paginator>

<button (click)="add()" class="mt-3" color="primary" mat-raised-button>Thêm</button>
